html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

a {
  font-size: 1rem;
  font-weight: 600;
}

// Preloader
.loader-wrapper {
  overflow: hidden;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3065f8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.loader {
  display: inline-block;
  width: 6vh;
  height: 6vh;
  position: relative;
  border: 0.75vh solid #ffffff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

// Watermark
.watermark {
  opacity: 100%;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: #070439;
  color: #f6f6fe;
  border-top: 1px solid rgba(240, 75%, 98%, 0.1);
}
.watermark strong {
  font-weight: 400;
}
.watermark a {
  font-size: 1.1rem !important;
  text-decoration: underline;
  font-weight: 600;
  color: #ffffff;
}

// Warning Banner
.warning-banner {
  transition: all 0.25s linear;
  display: flex;
  flex-direction: column;
  background-color: #dc2626;
  text-align: center;
  padding: 0.9rem 2rem;
  height: auto;
}
#warning-banner-p {
  display: flex;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  position: relative;
  opacity: 100%;
  font-size: 1.1rem;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
}
#close-button {
  font-size: 0px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: underline !important;
  transition: all 0.25s linear;
}
#close-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  * {
    line-height: 1.2;
  }
  nav {
    display: flex;
    padding: 5vh 12vw 0vh 12vw;
  }
  .logo {
    height: 2.25vw;
  }
  .nav-items {
    display: flex;
    margin-left: auto;
  }
  .nav-item a {
    padding-left: 1vw;
    text-decoration: none;
    color: #070439;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    margin: 8vh 0vh;
    padding: 0vh 12vw;
  }
  .hero-img {
    flex: 1;
  }
  .hero-img img {
    width: 100%;
  }
  .hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .hero-content h2 {
    margin-top: auto;
    color: #070439;
    padding-bottom: 2vh;
  }
  .hero-content p {
    color: #070439;
    padding-bottom: 2vh;
  }
  .hero-content form {
    margin-bottom: auto;
  }
  form {
    display: flex;
    flex-direction: row;
  }
  .form-email {
    padding: 0.75rem;
    border: 1px solid #3065f8;
    border-radius: 0.25rem;
    background-color: #ffffff;
    color: #3065f8;
    margin-right: 1vh;
    width: 50%;
  }
  .form-submit {
    padding: 0.75rem;
    border: 0px;
    background-color: #3065f8;
    color: #ffffff;
    border-radius: 0.25rem;
  }
  .feature {
    display: flex;
    flex-direction: row-reverse;
    padding: 0vh 12vw;
    background-color: #f6f6fe;
  }
  .features-img {
    flex: 1;
    display: flex;
  }
  .features-img img {
    width: 100%;
    padding: 0vh 4vh;
    margin-top: auto;
    margin-bottom: auto;
  }
  .feature-desktop {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .features-content h2 {
    color: #070439;
    padding: 10vh 0vh 2vh 0vh;
  }
  .features-content p {
    color: #070439;
    padding: 1vh 0vh;
  }
  .link {
    justify-content: baseline;
    display: flex;
    margin: 1vh 0vh 2vh 0vh;
  }
  .link a {
    text-decoration: dashed;
    -webkit-text-decoration: dashed;
    color: #3c9f8f;
    margin-top: auto;
    margin-bottom: auto;
  }
  .link img {
    height: 6vh;
  }
  .testimonial {
    width: 80%;
  }
  .testimonial-item {
    display: flex;
    line-height: 1.4;
    flex-direction: column;
    background-color: #ffffff;
    color: #585989;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.007),
      0 12.5px 10px rgba(0, 0, 0, 0.01), 0 30.1px 24.1px rgba(0, 0, 0, 0.013),
      0 100px 80px rgba(0, 0, 0, 0.02);
  }
  .quote {
    height: 5;
    width: 4vh;
  }
  .testimonial {
    margin-bottom: 10vh;
  }
  .testimonial-profile {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
  }
  .profile-img img {
    height: 8vh;
    border-radius: 50%;
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
  }
  .profile-id {
    margin-top: auto;
    color: #070439;
  }
  .profile-id p {
    font-weight: 700;
  }
  .profile-designation {
    margin-bottom: auto;
    color: #070439;
  }
  .earlyaccess {
    background-color: #585989;
    display: flex;
    flex-direction: row;
    padding: 10vh 12vw;
  }
  .earlyaccess-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .earlyaccess form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .early-email {
    width: 100%;
  }
  .early-submit {
    width: 40%;
    margin-top: 2vh;
  }
  .earlyaccess-content h2 {
    color: #ffffff;
    padding-bottom: 1vh;
    width: 90%;
  }
  .earlyaccess-content p {
    color: #ffffff;
    width: 90%;
    opacity: 90%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #070439;
    color: #ffffff;
    padding: 10vh 12vw;
  }
  .footer-logo {
    width: 10vw;
    padding-bottom: 3vh;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
  }
  .footer-contact {
    display: flex;
    padding: 1vh 0vh;
  }
  .footer-contact img {
    width: 1.5rem;
  }
  .footer-contact p {
    padding-left: 1.5vh;
    margin-top: auto;
    margin-bottom: auto;
  }
  .footer-contact-div,
  .links {
    flex: 1;
  }
  .links a {
    color: #ffffff;
    font-weight: 500;
  }
  .links li {
    padding: 1vh 0vh;
  }
  .social {
    display: flex;
    flex-direction: row;
  }
  .social-icons {
    height: 2.25rem;
    padding-left: 2vh;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }
  .logo {
    height: 1.5rem;
    margin-right: auto;
  }
  nav {
    display: flex;
    padding: 1.5rem;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: auto;
  }
  .nav-item {
    display: flex;
    margin-top: 0.25rem;
    margin-bottom: auto;
    font-weight: 500;
    margin-right: 0.5rem;
  }
  .nav-item a {
    text-decoration: none;
    color: #070439;
  }
  .hero-img img {
    width: 100%;
    padding: 3rem 0rem 1rem 0rem;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content h2 {
    font-size: 1.65rem;
    font-weight: 700;
    color: #070439;
    padding: 2rem 0rem 1rem 0rem;
  }
  .hero-content p {
    color: #070439;
    padding: 0rem 0.5rem 2rem 0.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .form-email {
    padding: 0.75rem;
    border: 1px solid #3065f8;
    border-radius: 0.25rem;
    background-color: #ffffff;
    color: #3065f8;
    margin-bottom: 0.75rem;
  }
  .form-submit {
    padding: 0.75rem;
    border: 0px;
    background-color: #3065f8;
    color: #ffffff;
    border-radius: 0.25rem;
  }
  .feature {
    background-color: #f6f6fe;
    padding: 1.5rem 1.5rem;
  }
  .features-img img {
    width: 100%;
    padding: 1.5rem 0rem 1rem 0rem;
  }
  .features-content h2 {
    font-size: 1.65rem;
    font-weight: 700;
    color: #070439;
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
  }
  .features-content p {
    color: #585989;
    padding: 0rem 0rem 1.5rem 0rem;
  }
  .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .link a {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    color: #3c9f8f;
    text-align: center;
  }
  .link img {
    height: 2.5rem;
  }
  .testimonial {
    padding: 2rem 0rem;
  }
  .testimonial-item {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.007),
      0 12.5px 10px rgba(0, 0, 0, 0.01), 0 30.1px 24.1px rgba(0, 0, 0, 0.013),
      0 100px 80px rgba(0, 0, 0, 0.02);
  }
  .quote {
    height: 1.5rem;
    width: auto;
  }
  .testimonial-item p {
    color: #070439;
    line-height: 1.5;
  }
  .testimonial-profile {
    display: flex;
    padding-top: 0.5rem;
  }
  .profile-img img {
    height: 4rem;
    border-radius: 50%;
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  .profile-id {
    margin-top: auto;
  }
  .profile-id p {
    font-weight: 700;
    color: #070439;
    line-height: 1;
  }
  .profile-designation {
    margin-bottom: auto;
  }
  .profile-designation p {
    font-weight: 500;
  }
  .earlyaccess {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    background-color: #585989;
  }
  .earlyaccess h2 {
    color: #ffffff;
    text-align: center;
    padding: 2rem 0rem 1rem 0rem;
  }
  .earlyaccess p {
    color: #ffffff;
    padding-bottom: 1.5rem;
    text-align: center;
  }
  .earlyaccess-form {
    padding: 0rem 1rem;
  }
  .footer {
    background-color: #070439;
    color: #ffffff;
    padding: 2rem 1.5rem 0.5rem 2rem;
  }
  .footer-logo {
    padding: 2rem 0rem;
  }
  .footer-contact {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
  }
  .footer-contact p {
    padding-left: 0.75rem;
  }
  .links {
    padding-top: 2rem;
  }
  .links a {
    color: #ffffff;
    line-height: 1.5;
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .social-icons {
    height: 2.5rem;
    margin: 0.5rem;
  }
}